<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<link rel="shortcut icon" href="../image/angularico.png" type="image/x-icon">
    <title>Angular UI : Resolve & Data</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="../css/styles/shThemeDefault.css"/>
	<link type="text/css" rel="stylesheet" href="../css/styles/shCore.css"/>
	<style>.my-menu{background-color: #222;}.container-main{margin-top: 70px;}.lesson-header{background-color: #9c2e2e;color:white}.lesson-body{margin-bottom: 70px;}</style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top " role="navigation" style="height:75px">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html"><img src="../image/AngularJS-large.png" style="width:200px" /></a>
        </div>
        <div class="collapse navbar-collapse my-menu">
          <ul class="nav navbar-nav">
            <li ><a href="../home.html">Getting Started</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lesson<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li class="dropdown-header">Basic AngularJS</li>
                <li><a href="../lesson/lesson1.html">Lesson 1</a></li>
                <li><a href="../lesson/lesson2.html">Lesson 2</a></li>
                <li><a href="../lesson/lesson2.5.html">Lesson 2.5</a></li>
                <li><a href="../lesson/lesson3.html">Lesson 3</a></li>
                <li><a href="../lesson/lesson4.html">Lesson 4</a></li>
                <li><a href="../lesson/lesson5.html">Lesson 5</a></li>
                <li><a href="../lesson/lesson6.html">Lesson 6</a></li>
                <li><a href="../lesson/lesson7.html">Lesson 7</a></li>
                <li><a href="../lesson/lesson8.html">Lesson 8</a></li>
                <li><a href="../lesson/lesson9.html">Lesson 9</a></li>
                <li><a href="../lesson/lesson10.html">Lesson 10</a></li>
                <li><a href="../lesson/lesson11.html">Lesson 11</a></li>
                <li><a href="../lesson/lesson12.html">Lesson 12</a></li>
              </ul>
            </li>
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Directive<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li class="dropdown-header">Basic Directive</li>
				<li><a href="../directive/directive.html">Directive Restrict</a></li>
				<li><a href="../directive/template.html">Directive Template</a></li>
				<li><a href="../directive/controller.html">Directive Controller</a></li>
				<li><a href="../directive/link.html">Directive Link</a></li>
				<li class="dropdown-header">Isolated Scope</li>
                <li><a href="../directive/isolate.html">Isolated Scope</a></li>
                <li><a href="../directive/scopeand.html">Scope Expression & </a></li>
                <li><a href="../directive/scopeadd.html">Scope Attribute @ </a></li>
                <li><a href="../directive/scopeequal.html">Scope Two way Binding =</a></li>
				<li><a href="../directive/scopedifferent.html">$scope VS scope</a></li>
           	  </ul>
            </li>
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Scope<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li><a href="../scope/rootscope.html">rootScope & Scope</a></li>
				<li><a href="../scope/watch.html">$watch()</a></li>
				<li><a href="../scope/apply.html">$apply()</a></li>
				<li><a href="../scope/broadcast.html">$broadcast() & $on()</a></li>
				<li><a href="../scope/emit.html">$emit() & $on()</a></li>
				<li><a href="../scope/destory.html">$destory()</a></li>
           	  </ul>
            </li>
            			<li class="dropdown">
				<a href="../service/service.html">Service</a>
			</li>
			<li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI Router<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li><a href="../ui-route/uiroute.html">Introduction UI Router</a></li>
				<li><a href="../ui-route/basicroute.html">Basic Routing</a></li>
				<li class="active"><a href="../ui-route/resolve.html">Resolve & Data</a></li>
				<li><a href="../ui-route/nestedrouting.html">Nested Routing</a></li>
				<li><a href="../ui-route/multipleview.html">Multiple Views</a></li>
				<li><a href="../ui-route/event.html">Event</a></li>
				<li><a href="../ui-route/urlprovider.html">URL Provider</a></li>
				<li><a href="../ui-route/statego.html">$state.go()</a></li>
				<li><a href="../ui-route/challenge.html">Challenge</a></li>
           	  </ul>
            </li>
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Example<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li><a href="../example/validate.html">Input Validation</a></li>
				<li><a href="../example/advance.html">Advance Validation</a></li>
				<li><a href="../example/alert.html">Alert Validation</a></li>
				<li><a href="../example/dynamic.html">Dynamic Validation</a></li>
				<li><a href="../example/custom.html">Custom Validation</a></li>
				<li><a href="../example/ngform.html">ngForm Validation</a></li>
           	  </ul>
            </li>
            <li><a href="../about.html">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	<div class="lesson-header">
		<div class="container container-main">
			<h1>Angular UI: Resolve & Data</h1>
		</div>
	</div>
    <div class="container lesson-body">
      <div class="row">
        <div class="col-md-9" role="main">
			<div>
            	<h2 class="page-header">สิ่งที่ควรรู้</h2>
            	<h3>รู้จักกับ resolve ใน state</h3>
				<p>resolve เป็น property ที่อยู่ใน state ใช้สำหรับเตรียมข้อมูลก่อนที่จะมาใช้ใน controller ของ  state </p>
				<p>โดยภายใน resolve จะทำงานให้เสร็จก่อนเริ่ม controller </p>
				<p>resolve จะทำการ map ข้อมูลดังนี้</p>
				<ul>
					<li>key - เป็นชื่อตัวแปรที่จะเรียกใช้ใน controller</li>
					<li>factory - เป็นฟังก์ชั่นที่ทำการ return ข้อมูลมา ซึ่งในกรณีที่ค่านั้นเป็น promise จะถูกทำให้ resolved ก่อนที่จะส่งค่าให้ controller</li>
					
				</ul>
				<p>ซึ่งมีรายละเอียดดังนี้</p>
				<pre class="brush: js; highlight: [8,9,10,11,12,13,14,15,16,17,18,20,21,22]">
angular.module('application', ['ui-router'])
	.config(function ($stateProvider, $urlRouterProvider) {
		$stateProvider
			.state('stateName', {
				url: 'url',
				template: '&lt;p>this is part of stateName&lt;/p>', //or templateUrl: 'someFile.html'
				resolve: {
					simpleObj: function () {
						return {
							value: 'data'
						}
					},
					promiseObj: function ($http) {
						return $http({method: 'GET', url:'/someUrl'})
							.then(function (response) {
								return doSomething(response.data);
							});
					}
				},
				controller: function ($scope, simpleObj, promiseObj) {
					$scope.value = simpleObj.value;
					$scope.promise = promiseObj;
				}
			});
	});
</pre>
				<h4><u>ข้อดีของ resolve</u> คือ กรณีที่ controller ต้องการนำข้อมูลที่มาจากแต่ละที่มาประมวลผลรวมกัน โดย resolve จะทำให้ทำการแตก thread และทำการดึงข้อมูลพร้อมๆกันได้  ข้อมูลจะถูกเตรียมเสร็จเรียบร้อยก่อนเริ่มใช้งาน controller </h4>
				<h3>รู้จักกับ data</h3>
				<p>data เป็น property ที่อยู่ใน state ใช้สำหรับกำหนดข้อมูลต่างๆไว้ในแต่ละ state</p>
				<p>โดยจะสามารถเรียกใช้งาน data ได้โดยผ่าน $state</p>
				<p>ซึ่งมีรายละเอียดดังนี้</p>
				<pre class="brush: js; highlight: [7,8,9,11,12,13,14]">
angular.module('application', ['ui-router'])
	.config(function ($stateProvider, $urlRouterProvider) {
		$stateProvider
			.state('stateName', {
				url: 'url',
				template: '&lt;p>this is part of stateName&lt;/p>', //or templateUrl: 'someFile.html'
				data: {
					customData1: 1,
					customData2: "some text"
				},
				controller: function ($scope, $state) {
					// $state.current is mean current state
					$scope.data1 = $state.current.data.customData1;
					$scope.promise = $state.current.data.customData1;
				}
			});
	});
</pre>
				<h3>เมื่อไหร่ถึงเลือกใช้ resolve เมื่อไหร่ถึงเลือกใช้ data</h3>
				<p>เราจะเลือกใช้ resolve สำหรับค่าที่มีการเปลี่ยนแปลงได้ หรือข้อมูลที่ทำการเรียกใช้งานจาก service ต่างๆ</p>
				<p>เราจะเลือกใช้ data ในกรณีที่ต้องการใช้ค่าที่เป็น constant ต่างๆในแต่ละ state เช่น error message</p>
			</div>
			<div>
				<h2 class="page-header">ตัวอย่างการใช้งาน resolve และ data</h2>
				<p>เราจะทำการดึงลิสต์ข้อมูลมาแสดงผลใน state contact โดยใช้ resolve </p>
				<p>และนำข้อความมาแสดงผลโดยใช้ data</p>
				<h3>เพิ่มข้อมูลรายชื่อ contact</h3>
				<p>ในไฟล์ js ทำการกำหนด state <strong><u>contact</u></strong> ดังนี้</p>
				<pre class="brush: js; highlight: [8,9,10,11,12,13,14]">
angular.module('application', ['ui.router'])
	.config(function ($stateProvider, $urlRouterProvider) {
		$stateProvider
			.state('home', {
				url: '/home',
				template: '&lt;p>this is part of home&lt;/p>'
			})
			.state('contact', {
				url: '/contact',
				template: '&lt;h3>This is Contact&lt;/h3>' +
					'&lt;ul>' + '&lt;li ng-repeat="contact in contacts">' +
					'{{contact.name}}' + '(Age: {{contact.age}}) ' + 
					'E-Mail: {{contact.email}}&lt;/li>&lt;/ul>'
			})
			.state('about', {
				url: '/about',
				template: '&lt;p>Creator is {{name}}&lt;/p>',
				controller: function ($scope) {
					$scope.name = "Google!!";
				}
			});
	});
</pre>
				<p>เพิ่มส่วนที่เรียกใช้ข้อมูลจาก resolve และ controller เพื่อเรียกใช้ข้อมูล</p>
				<p>โดยข้อมูลจะถูกเก็บไว้ใน <a href="../demo/contacts.json">contacts.json</a></p>
				<pre class="brush: js; highlight: [14,15,16,17,18,19,20,21,22,23,24]">
angular.module('application', ['ui.router'])
	.config(function ($stateProvider, $urlRouterProvider) {
		$stateProvider
			.state('home', {
				url: '/home',
				template: '&lt;p>this is part of home&lt;/p>'
			})
			.state('contact', {
				url: '/contact',
				template: '&lt;h3>This is Contact&lt;/h3>' +
					'&lt;ul>' + '&lt;li ng-repeat="contact in contacts">' +
					'{{contact.name}}' + '(Age: {{contact.age}}) ' + 
					'E-Mail: {{contact.email}}&lt;/li>&lt;/ul>',
				resolve: {
					contacts: function ($http) {
						return $http({method: 'GET', url: 'contacts.json'})
							.then(function (response) {
								return response.data;
							});
					}
				},
				controller: function ($scope, contacts) {
					$scope.contacts = contacts;
				}
			})
			.state('about', {
				url: '/about',
				template: '&lt;p>Creator is {{name}}&lt;/p>',
				controller: function ($scope) {
					$scope.name = "Google!!";
				}
			});
	});
</pre>
				<p>ในไฟล์ html เพิ่มเมนูต่อจาก home ชื่อ contact</p>
				<pre class="brush: html">
&lt;div class="container">
	&lt;ul class="nav nav-pills">
		&lt;li>&lt;a ui-sref="home">Home&lt;/a>&lt;/li>
		&lt;li>&lt;a ui-sref="about">about&lt;/a>&lt;/li>
		&lt;li>&lt;a ui-sref="contact">contact&lt;/a>&lt;/li>
	&lt;/ul>
	&lt;div>
		&lt;p>Next of this line is ui-view&lt;/p>
		&lt;div ui-view>&lt;/div>
	&lt;/div>
&lt;/div>
</pre>
				<h3>เพิ่ม message แสดงเวลาเข้าหน้า home</h3>
				<p>ทำการเพิ่ม message โดยใช้ data ระบุ message เป็น "Welcome Home" และเรียกใช้ใน controller ดังนี้</p>
				<pre class="brush: js; highlight: [7,8,9,10,11,12]">
angular.module('application', ['ui.router'])
	.config(function ($stateProvider, $urlRouterProvider) {
		$stateProvider
			.state('home', {
				url: '/home',
				template: '&lt;p>this is part of home&lt;/p>',
				data: {
					message: "Welcome Home"
				},
				controller: function ($state) {
					alert($state.current.data.message);
				}
			})
			.state('contact', {
				url: '/contact',
				template: '&lt;h3>This is Contact&lt;/h3>' +
					'&lt;ul>' + '&lt;li ng-repeat="contact in contacts">' +
					'{{contact.name}}' + '(Age: {{contact.age}}) ' + 
					'E-Mail: {{contact.email}}&lt;/li>&lt;/ul>',
				resolve: {
					contacts: function ($http) {
						return $http({method: 'GET', url: 'contacts.json'})
							.then(function (response) {
								return response.data;
							});
					}
				},
				controller: function ($scope, contacts) {
					$scope.contacts = contacts;
				}
			})
			.state('about', {
				url: '/about',
				template: '&lt;p>Creator is {{name}}&lt;/p>',
				controller: function ($scope) {
					$scope.name = "Google!!";
				}
			});
	});
</pre>
			</div>
			<h4>สามารถดูตัวอย่างผลลัพธ์ได้ที่นี่ <a href="../demo/resolve.html">Demo</a> </h4>
			<ul class="btn-group pull-right">
				<a href="basicroute.html">
					<li class="btn btn-primary"><i class="glyphicon glyphicon-step-backward"></i> ย้อนกลับ</li>
				</a>
				<a href="nestedrouting.html">
					<li class="btn btn-primary">ถัดไป <i class="glyphicon glyphicon-step-forward"></i></li>
				</a>
			</ul>
        </div>
		
        <!--div class="col-md-3">
          <div class="hidden-print hidden-xs hidden-sm affix" role="complementary">
            <ul class="nav">
                <li class="active"><a href="#download">Download</a></li>
                <li><a href="#whats-included">What's included</a></li>
                <li><a class="back-to-top" href="#top">Back to top</a></li>
            </ul>
          </div>
        </div-->
      </div>
    </div>
      <footer class="footer">
      <div class="container">
        <p class="text-muted">              
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="สัญญาอนุญาตของครีเอทีฟคอมมอนส์" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />ผลงานนี้ ใช้<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">สัญญาอนุญาตของครีเอทีฟคอมมอนส์แบบ แสดงที่มา-ไม่ใช้เพื่อการค้า 4.0 International</a>.
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/lib/jquery.min.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>
  	<script type="text/javascript" src="../js/scripts/shCore.js"></script>
	<script type="text/javascript" src="../js/scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="../js/scripts/shBrushXml.js"></script>    
	<script type="text/javascript">SyntaxHighlighter.all();</script>

</body></html>