<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<link rel="shortcut icon" href="../image/angularico.png" type="image/x-icon">
    <title>Example : Dynamic Validation</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="../css/styles/shThemeDefault.css"/>
	<link type="text/css" rel="stylesheet" href="../css/styles/shCore.css"/>
	<style>.my-menu{background-color: #222;}.container-main{margin-top: 70px;}.lesson-header{background-color: #9c2e2e;color:white}.lesson-body{margin-bottom: 70px;}
		.ng-dirty.ng-invalid{border-color:red;}
        .ng-dirty.ng-valid{border-color:green!important;}
        span.require{color:red}
        .help-block{color:red}
        .error{border-color:red}</style>

</head>
<body ng-app="dynamicForm">
    <div class="navbar navbar-inverse navbar-fixed-top " role="navigation" style="height:75px">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html"><img src="../image/AngularJS-large.png" style="width:200px" /></a>
        </div>
        <div class="collapse navbar-collapse my-menu">
          <ul class="nav navbar-nav ">
            <li ><a href="../home.html">Getting Started</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Change (1.3)<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li class="dropdown-header">New Change in 1.3</li>
                <li><a href="../new13/disable_debug_info.html">Performance Boost</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lesson<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li class="dropdown-header">Basic AngularJS</li>
                <li><a href="../lesson/lesson1.html">Lesson 1</a></li>
                <li><a href="../lesson/lesson2.html">Lesson 2</a></li>
                <li><a href="../lesson/lesson2.5.html">Lesson 2.5</a></li>
                <li><a href="../lesson/lesson3.html">Lesson 3</a></li>
                <li><a href="../lesson/lesson4.html">Lesson 4</a></li>
                <li><a href="../lesson/lesson5.html">Lesson 5</a></li>
                <li><a href="../lesson/lesson6.html">Lesson 6</a></li>
                <li><a href="../lesson/lesson7.html">Lesson 7</a></li>
                <li><a href="../lesson/lesson8.html">Lesson 8</a></li>
                <li><a href="../lesson/lesson9.html">Lesson 9</a></li>
               	<li><a href="../lesson/lesson10.html">Lesson 10</a></li>
                <li><a href="../lesson/lesson11.html">Lesson 11</a></li>
                <li><a href="../lesson/lesson12.html">Lesson 12</a></li>
              </ul>
            </li>
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Directive<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li class="dropdown-header">Basic Directive</li>
				<li><a href="../directive/directive.html">Directive Restrict</a></li>
				<li><a href="../directive/template.html">Directive Template</a></li>
				<li><a href="../directive/controller.html">Directive Controller</a></li>
				<li><a href="../directive/link.html">Directive Link</a></li>
				<li class="dropdown-header">Isolated Scope</li>
                <li><a href="../directive/isolate.html">Isolated Scope</a></li>
                <li><a href="../directive/scopeand.html">Scope Expression & </a></li>
                <li><a href="../directive/scopeadd.html">Scope Attribute @ </a></li>
                <li><a href="../directive/scopeequal.html">Scope Two way Binding =</a></li>
				<li><a href="../directive/scopedifferent.html">$scope VS scope</a></li>
           	  </ul>
            </li>
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Scope<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li><a href="../scope/rootscope.html">rootScope & Scope</a></li>
				<li><a href="../scope/watch.html">$watch()</a></li>
				<li><a href="../scope/apply.html">$apply()</a></li>
				<li><a href="../scope/broadcast.html">$broadcast() & $on()</a></li>
				<li><a href="../scope/emit.html">$emit() & $on()</a></li>
				<li><a href="../scope/destory.html">$destory()</a></li>
           	  </ul>
            </li>
			<li class="dropdown">
				<a href="../service/service.html">Service</a>
			</li>
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI Router<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li><a href="../ui-route/uiroute.html">Introduction UI Router</a></li>
				<li><a href="../ui-route/basicroute.html">Basic Routing</a></li>
				<li><a href="../ui-route/resolve.html">Resolve & Data</a></li>
				<li><a href="../ui-route/nestedrouting.html">Nested Routing</a></li>
				<li><a href="../ui-route/multipleview.html">Multiple Views</a></li>
				<li><a href="../ui-route/event.html">Event</a></li>
				<li><a href="../ui-route/urlprovider.html">URL Provider</a></li>
				<li><a href="../ui-route/statego.html">$state.go()</a></li>
				<li><a href="../ui-route/challenge.html">Challenge</a></li>
           	  </ul>
            </li>
			<li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Example<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li><a href="validate.html">Input Validation</a></li>
				<li><a href="advance.html">Advance Validation</a></li>
				<li><a href="alert.html">Alert Validation</a></li>
				<li class="active"><a href="dynamic.html">Dynamic Validation</a></li>
				<li><a href="custom.html">Custom Validation</a></li>
				<li><a href="ngform.html">ngForm Validation</a></li>
           	  </ul>
            </li>
			
            <li><a href="../about.html">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	<div class="lesson-header">
		<div class="container container-main">
			<h1>Example: Dynamic Validation</h1>
		</div>
	</div>
    <div class="container lesson-body">
      <div class="row">
        <div class="col-md-9" role="main">
			<div>
            	<div class="panel panel-success" ng-controller="formController3 as formCtrl3">
				   <div class="panel-body">
					  <legend>Required & Non-required Text - ตัวอย่างกรณีที่มีเงื่อนไข ถึงจะบังคับกรอก</legend>
					  <form class="form-horizontal" name="form" novalidate>  
						<!-- Text input-->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="textinput">Action Input</label>  
						  <div class="col-md-4">
							<input name="text" ng-model="textaction1" type="text" placeholder="placeholder" class="form-control input-md"
								   ng-change="formCtrl3.checkRequired()" sender-input="key">
							<span class="help-block" ng-show="(form.text.$invalid && form.text.$dirty)|| formCtrl3.isSubmit()">
							</span>  
						  </div>
						  <div class="col-md-4">
							<label>เมื่อเลือกกรอกช่องแรกจะบังคับให้กรอกช่องที่ 2</label>  
						  </div>
						</div>
						<div class="form-group">
						  <label class="col-md-4 control-label" for="textinput">Action Input2 <span class="require" ng-show="form.text2.$error.required">*</span></label>  
						  <div class="col-md-4">
							<input name="text2" ng-model="text2" type="text" placeholder="placeholder" class="form-control input-md"
								   ng-class="{error: formCtrl3.isSubmit() && form.text2.$invalid}" receiver-input="key">
							<span class="help-block" ng-show="(form.text2.$invalid && form.text2.$dirty)|| formCtrl3.isSubmit()">
								<p ng-show="form.text2.$error.required">This field is required.</p>
							</span>  
						  </div>
						</div>
						<!-- Multiple Radios -->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="radio">Radio<span class="require">*</span></label>
						  <div class="col-md-4">
							  <div class="radio">
								<label>
								  <input type="radio" name="radio1" ng-model="radio1" value="0" sender-input="key2" required>
								  Non required
								</label>
								</div>
							  <div class="radio">
								<label>
								  <input type="radio" name="radio1" ng-model="radio1" value="1" sender-input="key2" required>
								  Required
								</label>
							  </div>
						  </div>
						  <span class="help-block" ng-show="formCtrl3.isSubmit()">
							<p ng-show="form.radio1.$error.required">This field is required.</p>
						  </span>
						</div>
						<div class="form-group">
						  <label class="col-md-4 control-label" for="textinput">Action Input3 <span class="require" ng-show="form.text3.$error.required">*</span></label>  
						  <div class="col-md-4">
							<input name="text3" ng-model="text3" type="text" placeholder="placeholder" class="form-control input-md"
								   ng-class="{error: formCtrl3.isSubmit() && form.text3.$invalid}" receiver-input="key2">
							<span class="help-block" ng-show="(form.text2.$invalid && form.text2.$dirty)|| formCtrl3.isSubmit()">
								<p ng-show="form.text3.$error.required">This field is required.</p>
							</span>  
						  </div>
						</div>
						<!-- Button -->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="submit"></label>
						  <div class="col-md-4">
							<button name="submit" class="btn btn-primary" ng-click="formCtrl3.onSubmit()">Test Validation</button>
						  </div>
					   </div>
					</form>
				 </div>
				</div>
				<div class="panel panel-success" ng-controller="formController2 as formCtrl2">
				   <div class="panel-body">
					  <legend>Required & Disabled Radio - ตัวอย่างกรณีที่มีเงื่อนไข แบบไม่ให้กรอก และ แบบบังคับกรอก</legend>
					  <form class="form-horizontal" name="form" novalidate>
						<!-- Multiple Radios -->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="radio">Radio<span class="require">*</span></label>
						  <div class="col-md-4">
							  <div class="radio">
								<label>
								  <input type="radio" name="radio1" ng-model="radio1" value="0" sender-input="key3" is-disable="true" required>
								  Non required
								</label>
								</div>
							  <div class="radio">
								<label>
								  <input type="radio" name="radio1" ng-model="radio1" value="1" sender-input="key3" is-disable="true" required>
								  Required
								</label>
							  </div>
						  </div>
						  <span class="help-block" ng-show="formCtrl2.isSubmit()">
							<p ng-show="form.radio1.$error.required">This field is required.</p>
						  </span>
						</div>
						<!-- Text input-->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="textinput">Action Input <span class="require" ng-show="form.text4.$error.required">*</span></label>  
						  <div class="col-md-4">
							<input name="text4" ng-model="text4" type="text" placeholder="placeholder" class="form-control input-md"
								   ng-class="{error: formCtrl2.isSubmit() && form.text3.$invalid}" receiver-input="key3"></span>
							<span class="help-block" ng-show="(form.text4.$invalid && form.text4.$dirty)|| formCtrl2.isSubmit()">
								<p ng-show="form.text4.$error.required">This field is required.</p>
							</span>  
						  </div>
						  <div class="col-md-4">
							<label>เมื่อเลือก Non-Required จะ Disabled ไม่ให้กรอก<br>เมื่อเลือก Required จะบังคับให้กรอก</label>  
						  </div>
						</div>
						<!-- Button -->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="submit"></label>
						  <div class="col-md-4">
							<button name="submit" class="btn btn-primary" ng-click="formCtrl2.onSubmit()">Test Validation</button>
						  </div>
					   </div>
					</form>
				 </div>
			   </div>
			</div>
			<ul class="btn-group pull-right">
				<a href="alert.html">
					<li class="btn btn-primary"><i class="glyphicon glyphicon-step-backward"></i> ย้อนกลับ</li>
				</a>
				<a href="custom.html">
					<li class="btn btn-primary">ถัดไป <i class="glyphicon glyphicon-step-forward"></i></li>
				</a>
			</ul>
        </div>
		
        <!--div class="col-md-3">
          <div class="hidden-print hidden-xs hidden-sm affix" role="complementary">
            <ul class="nav">
                <li class="active"><a href="#download">Download</a></li>
                <li><a href="#whats-included">What's included</a></li>
                <li><a class="back-to-top" href="#top">Back to top</a></li>
            </ul>
          </div>
        </div-->
      </div>
    </div>
      <footer class="footer">
      <div class="container">
        <p class="text-muted">              
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="สัญญาอนุญาตของครีเอทีฟคอมมอนส์" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />ผลงานนี้ ใช้<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">สัญญาอนุญาตของครีเอทีฟคอมมอนส์แบบ แสดงที่มา-ไม่ใช้เพื่อการค้า 4.0 International</a>.
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/lib/jquery.min.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>
	<!--AngularJS Javascript -->
    <script src="../js/lib/angular.min.js"></script>
	<script src="../js/example/dynamic.js"></script>
  	<script type="text/javascript" src="../js/scripts/shCore.js"></script>
	<script type="text/javascript" src="../js/scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="../js/scripts/shBrushXml.js"></script>    
	<script type="text/javascript">SyntaxHighlighter.all();</script>

</body></html>