<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<link rel="shortcut icon" href="../image/angularico.png" type="image/x-icon">
    <title>AngularJS : Lesson 3</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="../css/styles/shThemeDefault.css"/>
	<link type="text/css" rel="stylesheet" href="../css/styles/shCore.css"/>
	<style>.my-menu{background-color: #222;}.container-main{margin-top: 70px;}.lesson-header{background-color: #9c2e2e;color:white}.lesson-body{margin-bottom: 70px;}</style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top " role="navigation" style="height:75px">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html"><img src="../image/AngularJS-large.png" style="width:200px" /></a>
        </div>
        <div class="collapse navbar-collapse my-menu">
          <ul class="nav navbar-nav">
            <li ><a href="../home.html">Getting Started</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Change (1.3)<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li class="dropdown-header">New Change in 1.3</li>
                <li><a href="../new13/disable_debug_info.html">Performance Boost</a></li>
              </ul>
            </li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lesson<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li class="dropdown-header">Basic AngularJS</li>
                <li><a href="lesson1.html">Lesson 1</a></li>
                <li><a href="lesson2.html">Lesson 2</a></li>
                <li class="active"><a href="lesson3.html">Lesson 3</a></li>
                <li><a href="lesson4.html">Lesson 4</a></li>
                <li><a href="lesson5.html">Lesson 5</a></li>
                <li><a href="lesson6.html">Lesson 6</a></li>
                <li><a href="lesson7.html">Lesson 7</a></li>
                <li><a href="lesson8.html">Lesson 8</a></li>
                <li><a href="lesson9.html">Lesson 9</a></li>
                <li><a href="lesson10.html">Lesson 10</a></li>
                <li><a href="lesson11.html">Lesson 11</a></li>
                <li><a href="lesson12.html">Lesson 12</a></li>
              </ul>
            </li>
			 <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Directive<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li class="dropdown-header">Basic Directive</li>
				<li><a href="../directive/directive.html">Directive Restrict</a></li>
				<li><a href="../directive/template.html">Directive Template</a></li>
				<li><a href="../directive/controller.html">Directive Controller</a></li>
				<li><a href="../directive/link.html">Directive Link</a></li>
				<li class="dropdown-header">Isolated Scope</li>
                <li><a href="../directive/isolate.html">Isolated Scope</a></li>
                <li><a href="../directive/scopeand.html">Scope Expression & </a></li>
                <li><a href="../directive/scopeadd.html">Scope Attribute @ </a></li>
                <li><a href="../directive/scopeequal.html">Scope Two way Binding =</a></li>
				<li><a href="../directive/scopedifferent.html">$scope VS scope</a></li>
           	  </ul>
            </li>
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Scope<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li><a href="../scope/rootscope.html">rootScope & Scope</a></li>
				<li><a href="../scope/watch.html">$watch()</a></li>
				<li><a href="../scope/apply.html">$apply()</a></li>
				<li><a href="../scope/broadcast.html">$broadcast() & $on()</a></li>
				<li><a href="../scope/emit.html">$emit() & $on()</a></li>
				<li><a href="../scope/destory.html">$destory()</a></li>
           	  </ul>
            </li>
			<li class="dropdown">
				<a href="../service/service.html" >Service</a>
			</li>
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI Router<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li><a href="../ui-route/uiroute.html">Introduction UI Router</a></li>
				<li><a href="../ui-route/basicroute.html">Basic Routing</a></li>
				<li><a href="../ui-route/resolve.html">Resolve & Data</a></li>
				<li><a href="../ui-route/nestedrouting.html">Nested Routing</a></li>
				<li><a href="../ui-route/multipleview.html">Multiple Views</a></li>
				<li><a href="../ui-route/event.html">Event</a></li>
				<li><a href="../ui-route/urlprovider.html">URL Provider</a></li>
				<li><a href="../ui-route/statego.html">$state.go()</a></li>
				<li><a href="../ui-route/challenge.html">Challenge</a></li>
           	  </ul>
            </li>
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Example<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
				<li><a href="../example/validate.html">Input Validation</a></li>
				<li><a href="../example/advance.html">Advance Validation</a></li>
				<li><a href="../example/alert.html">Alert Validation</a></li>
				<li><a href="../example/dynamic.html">Dynamic Validation</a></li>
				<li><a href="../example/custom.html">Custom Validation</a></li>
				<li><a href="../example/ngform.html">ngForm Validation</a></li>
           	  </ul>
            </li>
             <li><a href="../about.html">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	<div class="lesson-header">
		<div class="container container-main">
			<h1>Lesson 3: Directive ที่ใช้ในการแสดงผลและซ่อนข้อมูล</h1>
		</div>
	</div>
    <div class="container lesson-body">
      <div class="row">
        <div class="col-md-9" role="main">
			<div>
            	<h2 class="page-header">สิ่งที่ควรรู้</h2>
				<h4>หลายคนคงเคยรู้จัก jQuery และได้ใช้ฟังก์ชั่น show() และ hide() กันมาบ้าง ใน AngularJS ก็มีเหมือนกันครับ โดยจะมี Directive 2 ตัวที่ทำการ hide & show คือ <strong>ng-hide</strong> และ <strong>ng-show</strong></h4>
				<h3>Ng-Show ทำงานยังไง ?</h3>
				<pre>ng-show="เงื่อนไข หรือ ฟังก์ชั่น"</pre>
				<p>HTML tag ที่มี Directive ตัวนี้อยู่จะ<strong><u>แสดงผล เมื่อเงื่อนไขเป็น จริง (True)</u></strong></p>
            	<h3>Ng-Hide คือ อะไร ?</h3>
				<pre>ng-hide="เงื่อนไข หรือ ฟังก์ชั่น"</pre>
				<p>HTML tag ที่มี Directive ตัวนี้อยู่จะ<strong><u>ซ่อน เมื่อเงื่อนไขเป็น จริง (True)</u></strong></p>
                <h3>Ng-if คือ อะไร ?</h3>
				<pre>ng-if="เงื่อนไข หรือ ฟังก์ชั่น"</pre>
				<p>HTML tag ที่มี Directive ตัวนี้อยู่จะ<strong><u>ถูกลบออก เมื่อเงื่อนไขเป็น จริง (True)</u></strong></p>
			</div>
			<div>
            	<h2 class="page-header">ลองใช้ Ng-Show ,Ng-Hide ,Ng-If กันเถอะ</h2>
				<p>เราจะทำการแสดงวิธีการแสดงผลข้อมูลของ Ng-Show ,Ng-Hide ,Ng-If</p>
				<p>1.<u>เพิ่ม Attribute canPurchase</u> ซูชิที่อร่อยที่สุดก็ย่อมมีจำนวนที่จำกัด ฉะนั้นในไฟล์ app.js เราจึงเพิ่ม Attribute ให้กับซูชิ </p>
				<p>คือ canPurchase สามารถซื้อได้หรือไม่ โดยมีค่าเป็น Boolean</p>
				<pre class="brush: js; ruler: true; first-line:5 highlight: [10]">
app.controller('storeController', function ($scope) {
		$scope.sushi = {
			name: 'Maguro',
			price: 200,
			description: "Fat Tuna",
			canPurchase: true
		};
	});
</pre>
				<p>2.<u>เพิ่มปุ่มสั่งซื้อและใส่ ng-show</u> ในกรณีที่สามารถซื้อได้ จะมี<strong>ปุ่มให้กดสั่งซื้อ</strong> ที่มี directive <strong>ng-show</strong> ลงในหน้า html</p> 
				<p>โดยเงื่อนไขของการแสดง คือ canPurchase</p>
				<pre class="brush: html; ruler: true; first-line: 17; highlight: [22]">
&lt;div class="list-group">
	&lt;div class="list-group-item" ng-controller="storeController as store">
		&lt;h1>{{sushi.name}}&lt;/h1>
		&lt;h2>{{sushi.price}} yen&lt;/h2>
		&lt;p>{{sushi.description}}&lt;/p>
        &lt;div ng-show="sushi.canPurchase">
		  &lt;button class="btn btn-default">สั่งซื้อ&lt;/button>
        &lt;/div>
	&lt;/div>
&lt;/div>
</pre>
				<p>3.<u>เพิ่มข้อความขายหมด และเพิ่ม ng-hide</u> ในกรณีสามารถซื้อได้ ข้อความ <strong>ขายหมดแล้วจ้า</strong> จะไม่ทำการแสดง โดยในข้อความดังกล่าวจะมี directive <strong>ng-hide</strong> ใส่ไว้</p>
				<p>โดยเงื่อนไขของการแสดง คือ canPurchase</p>
				<pre class="brush: html; ruler: true; first-line: 17; highlight: [23];">
&lt;div class="list-group">
	&lt;div class="list-group-item" ng-controller="storeController as store">
		&lt;h1>{{sushi.name}}&lt;/h1>
		&lt;h2>{{sushi.price}} yen&lt;/h2>
		&lt;p>{{sushi.description}}&lt;/p>
        &lt;div ng-show="sushi.canPurchase">
		  &lt;button class="btn btn-default">สั่งซื้อ&lt;/button>
        &lt;/div>
		&lt;h3 ng-hide="sushi.canPurchase">ขายหมดแล้วจ้า&lt;/h3>
	&lt;/div>
&lt;/div>
</pre>
                <p>4.<u>เพิ่ม CheckBox และเพิ่ม ng-if</u> ในกรณีที่ต้องการ<strong>ใส่วาซาบิ</strong> เพิ่ม directive <strong>ng-if</strong></p>
				<pre class="brush: html; ruler: true; first-line: 17; highlight: [21];">
&lt;div class="list-group">
	&lt;div class="list-group-item" ng-controller="storeController as store">
		&lt;h1>{{sushi.name}}&lt;/h1>
		&lt;h2>{{sushi.price}} yen&lt;/h2>
		&lt;p>{{sushi.description}}&lt;span ng-if="checked && sushi.canPurchase"> + Wasabi&lt;/span>&lt;/p>
            &lt;div ng-show="sushi.canPurchase">
				ใส่วาซาบิ : &lt;input type="checkbox" ng-model="checked" />&lt;/br>
			&lt;button class="btn btn-default" >สั่งซื้อ&lt;/button>
            &lt;/div>
		&lt;h3 ng-hide="sushi.canPurchase">ขายหมดแล้วจ้า&lt;/h3>
	&lt;/div>
&lt;/div>
</pre>
				<div class="row">
					<div class="col-md-6">
						<h3>กรณีที่ canPurchase เป็น True</h3>
						ผลลัพธ์ดังนี้  <a href="../demo/lesson3true.html">Demo True</a>
					</div>
					<div class="col-md-6">
						<h3>กรณีที่ canPurchase เป็น False</h3>
						ผลลัพธ์ดังนี้  <a href="../demo/lesson3false.html">Demo False</a>
					</div>
				</div>
			</div>
			<div>
				<h2>เพิ่มเติม</h2>
				<h3>Ng-Switch คือ อะไร ?</h3>
				<pre>&lt;ANY ng-switch="expression">
&lt;ANY ng-switch-when="matchValue1">...&lt;/ANY>
&lt;ANY ng-switch-when="matchValue2">...&lt;/ANY>
&lt;ANY ng-switch-default>...&lt;/ANY>
</ANY>
</pre>
  
				<p>HTML tag ที่มี Directive ตัวนี้อยู่จะ<strong><u>แสดงผล เมื่อเงื่อนไขเป็นแบบ Switch Case</u></strong></p>
			</div>
			<div>
            	<h1 class="page-header">Challenge 3: I Want to Buy Maguro!!</h1>
				<h4>ทำการเพิ่มปุ่มสั่งซื้อ และข้อความบอกว่า "ขายหมดแล้วจ้า" ให้กับซูชิ โดยให้ใช้ <strong>ng-show</strong> และ <strong>ng-hide</strong></h4>
				<p>โดยมีโค้ดให้บางส่วน จงเติมส่วนที่ขาดหายไป เพื่อให้เว็บทำงานได้</p>
				<div class="row">
					<div class="col-md-6">
						<h3>กรณีที่ canPurchase เป็น True</h3>
						ผลลัพธ์ดังนี้ <a href="../demo/challenge3true.html">Demo True</a>
					</div>
					<div class="col-md-6">
						<h3>กรณีที่ canPurchase เป็น False</h3>
						ผลลัพธ์ดังนี้ <a href="../demo/challenge3false.html">Demo False</a>
					</div>
				</div>
				<h4>ไฟล์ sushistore.html</h4>
				<pre class="brush: html; ruler: true;">&lt;!DOCTYPE html>
&lt;html ng-app="application">
&lt;head>
	&lt;meta charset="utf-8">
    &lt;!-- bootstrap CSS -->
    &lt;link rel="stylesheet" href="css/bootstrap.min.css">
    &lt;!-- bootstrap theme -->
    &lt;link rel="stylesheet" href="css/bootstrap-theme.min.css">
&lt;/head>
&lt;body>
		&lt;header>
      &lt;h1 class="text-center">{{"Tanaka-San"}}'s Sushi Store&lt;/h1>
      &lt;h2 class="text-center">Open Since {{10*200}}.&lt;/h2>
    &lt;/header>
    &lt;div class="container">
        &lt;div class="row">
            &lt;div class="col-md-6">
				&lt;div class="list-group">
					&lt;div class="list-group-item" ng-controller="storeController as store" >
						&lt;h1>{{sushi.name}}&lt;/h1>
						&lt;h2>{{sushi.price}} yen&lt;/h2>
						&lt;p>{{sushi.description}}&lt;/p>
					&lt;/div>
				&lt;/div>
            &lt;/div>
		&lt;/div>
	&lt;/div>
    &lt;!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    &lt;script src="js/lib/jquery.min.js">&lt;/script>
    &lt;!-- Bootstrap JavaScript -->
    &lt;script src="js/lib/bootstrap.min.js">&lt;/script>
    &lt;!-- AngularJS JavaScript -->
    &lt;script src="js/lib/angular.min.js">&lt;/script>
    &lt;script src="js/app.js">&lt;/script>
&lt;/body>
&lt;/html></pre>
				<h4>ไฟล์ app.js</h4>
				<pre class="brush: js; ">
(function () {
	'use strict';
	
	var app = angular.module('application', []);
	app.controller('storeController', function ($scope) {
		$scope.sushi = {
			name: 'Maguro',
			price: 200,
			description: "Fat Tuna"
		};
	});
	
})();</pre>
			</div>
			<ul class="btn-group pull-right">
				<a href="lesson2.html">
					<li class="btn btn-primary"><i class="glyphicon glyphicon-step-backward"></i> ย้อนกลับ</li>
				</a>
				<a href="lesson4.html">
					<li class="btn btn-primary">ถัดไป <i class="glyphicon glyphicon-step-forward"></i></li>
				</a>
			</ul>
        </div>
		
        <!--div class="col-md-3">
          <div class="hidden-print hidden-xs hidden-sm affix" role="complementary">
            <ul class="nav">
                <li class="active"><a href="#download">Download</a></li>
                <li><a href="#whats-included">What's included</a></li>
                <li><a class="back-to-top" href="#top">Back to top</a></li>
            </ul>
          </div>
        </div-->
      </div>
    </div>
      <footer class="footer">
      <div class="container">
        <p class="text-muted">              
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="สัญญาอนุญาตของครีเอทีฟคอมมอนส์" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />ผลงานนี้ ใช้<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">สัญญาอนุญาตของครีเอทีฟคอมมอนส์แบบ แสดงที่มา-ไม่ใช้เพื่อการค้า 4.0 International</a>.
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/lib/jquery.min.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>
  	<script type="text/javascript" src="../js/scripts/shCore.js"></script>
	<script type="text/javascript" src="../js/scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="../js/scripts/shBrushXml.js"></script>    
	<script type="text/javascript">SyntaxHighlighter.all();</script>

</body></html>
